In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('movies.csv')
data2=pd.read_csv('credit.csv',engine='python', encoding='utf-8', error_bad_lines=False)

Skipping line 520: unexpected end of data

In [3]:
data.head(1)

      budget  ... vote_count
0  237000000  ...      11800

[1 rows x 20 columns]

In [4]:
data2.head()

   movie_id  ...                                               crew
0     19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1       285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2    206647  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3     49026  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4     49529  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 4 columns]

In [5]:
movies=data.merge(data2,on="title")

In [60]:
movies.shape

(518, 8)

In [7]:
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [8]:
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [9]:
movies.duplicated().sum()

0

In [10]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [11]:
import ast

In [12]:
def convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['name']) 
    return L

In [13]:
movies['genres'] = movies['genres'].apply(convert)
movies.head()

   movie_id  ...                                               crew
0     19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1       285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2    206647  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3     49026  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4     49529  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 7 columns]

In [14]:
movies['keywords'] = movies['keywords'].apply(convert)
movies.head()

   movie_id  ...                                               crew
0     19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1       285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2    206647  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3     49026  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4     49529  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 7 columns]

In [15]:
def counter2(obj):
  count=0
  l=[]
  for i in ast.literal_eval(obj):
    if count<3:
      l.append(i["name"])
    count+=1
  return l

In [16]:
movies['cast']=movies['cast'].apply(counter2)

In [17]:
movies.head()

   movie_id  ...                                               crew
0     19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1       285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2    206647  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3     49026  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4     49529  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 7 columns]

In [18]:
def fetch_crew(obj):
  l=[]
  for i in ast.literal_eval(obj):
    if i['job']=='Director':
      l.append(i['name'])
  return l

In [19]:
movies['crew']=movies['crew'].apply(fetch_crew)

In [59]:
movies.shape

(518, 8)

In [21]:
movies['overview']=movies['overview'].apply(lambda x:x.split())

In [22]:
movies.head()

   movie_id  ...                 crew
0     19995  ...      [James Cameron]
1       285  ...     [Gore Verbinski]
2    206647  ...         [Sam Mendes]
3     49026  ...  [Christopher Nolan]
4     49529  ...     [Andrew Stanton]

[5 rows x 7 columns]

In [23]:
movies['cast']=movies['cast'].apply(lambda x: [i.replace(" ","") for i in x])
movies['genres']=movies['genres'].apply(lambda x: [i.replace(" ","") for i in x])
movies['crew']=movies['crew'].apply(lambda x: [i.replace(" ","") for i in x])
movies['keywords']=movies['keywords'].apply(lambda x: [i.replace(" ","") for i in x])

In [24]:
movies.head()

   movie_id  ...                crew
0     19995  ...      [JamesCameron]
1       285  ...     [GoreVerbinski]
2    206647  ...         [SamMendes]
3     49026  ...  [ChristopherNolan]
4     49529  ...     [AndrewStanton]

[5 rows x 7 columns]

In [25]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [26]:
movie = movies.drop(columns=['overview','genres','keywords','cast','crew'])

In [27]:
movie['tags'] = movie['tags'].apply(lambda x: " ".join(x))
movie.head()

   movie_id  ...                                               tags
0     19995  ...  In the 22nd century, a paraplegic Marine is di...
1       285  ...  Captain Barbossa, long believed to be dead, ha...
2    206647  ...  A cryptic message from Bond’s past sends him o...
3     49026  ...  Following the death of District Attorney Harve...
4     49529  ...  John Carter is a war-weary, former military ca...

[5 rows x 3 columns]

In [28]:
movie['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [29]:
movie['tags']=movie['tags'].apply(lambda x:x.lower())

In [30]:
movie.head()

   movie_id  ...                                               tags
0     19995  ...  in the 22nd century, a paraplegic marine is di...
1       285  ...  captain barbossa, long believed to be dead, ha...
2    206647  ...  a cryptic message from bond’s past sends him o...
3     49026  ...  following the death of district attorney harve...
4     49529  ...  john carter is a war-weary, former military ca...

[5 rows x 3 columns]

In [33]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [34]:
vectors = cv.fit_transform(movie['tags']).toarray()

In [235]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [135]:
import nltk
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [136]:
def stem(obj):
  l=[]
  for i in obj.split():
    l.append(ps.stem(i))
  return " ".join(l)

In [35]:
movie['tags']=movie['tags'].apply(stem)
movie.head()

NameError: ignored

In [37]:
from sklearn.metrics.pairwise import cosine_similarity

In [38]:
similarity = cosine_similarity(vectors)
similarity

array([[1.        , 0.0805823 , 0.05216405, ..., 0.02353104, 0.02227177,
        0.        ],
       [0.0805823 , 1.        , 0.05884899, ..., 0.        , 0.        ,
        0.02037425],
       [0.05216405, 0.05884899, 1.        , ..., 0.        , 0.        ,
        0.01978356],
       ...,
       [0.02353104, 0.        , 0.        , ..., 1.        , 0.04402255,
        0.        ],
       [0.02227177, 0.        , 0.        , ..., 0.04402255, 1.        ,
        0.01689343],
       [0.        , 0.02037425, 0.01978356, ..., 0.        , 0.01689343,
        1.        ]])

In [39]:
def recommend(obj):
    index = movie[movie['title'] == obj].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:7]:
        print(movie.iloc[i[0]].title)

In [40]:
recommend('Avatar')

Ender's Game
Independence Day
Edge of Tomorrow
Journey 2: The Mysterious Island
The Lovers
Jupiter Ascending

In [53]:
ind=movie[movie['title']=='Spectre'].index[0]
sorted(list(enumerate(similarity[ind])),reverse=True)

[(517, 0.019783564706223267),
 (516, 0.0),
 (515, 0.0),
 (514, 0.07171371656006362),
 (513, 0.05345224838248488),
 (512, 0.08827348295047496),
 (511, 0.09416472308615166),
 (510, 0.026398183867422733),
 (509, 0.022792115291927588),
 (508, 0.09968895725584535),
 (507, 0.04259177099999598),
 (506, 0.036037498507822355),
 (505, 0.03450327796711771),
 (504, 0.0),
 (503, 0.07644707871564382),
 (502, 0.023904572186687872),
 (501, 0.04193139346887673),
 (500, 0.0515539262226467),
 (499, 0.0),
 (498, 0.09759000729485331),
 (497, 0.030860669992418377),
 (496, 0.0),
 (495, 0.07207499701564471),
 (494, 0.0),
 (493, 0.0),
 (492, 0.030860669992418377),
 (491, 0.03803491305644819),
 (490, 0.07207499701564471),
 (489, 0.0),
 (488, 0.018442777839082936),
 (487, 0.03450327796711771),
 (486, 0.036454130828824455),
 (485, 0.024397501823713332),
 (484, 0.030860669992418377),
 (483, 0.09258200997725513),
 (482, 0.0),
 (481, 0.02258769757263128),
 (480, 0.04931136727215379),
 (479, 0.018333969940564222),
 (478, 0.03929887459459296),
 (477, 0.0),
 (476, 0.033806170189140665),
 (475, 0.04517539514526256),
 (474, 0.0),
 (473, 0.0),
 (472, 0.057142857142857134),
 (471, 0.02672612419124244),
 (470, 0.0),
 (469, 0.06492654830247076),
 (468, 0.08696565534786725),
 (467, 0.0432843655349805),
 (466, 0.0994490316197694),
 (465, 0.036037498507822355),
 (464, 0.0),
 (463, 0.0),
 (462, 0.018442777839082936),
 (461, 0.029424494316824985),
 (460, 0.0),
 (459, 0.033149677206589796),
 (458, 0.0375624113212674),
 (457, 0.055577001437672836),
 (456, 0.02146693953705459),
 (455, 0.04733810683311508),
 (454, 0.0),
 (453, 0.04931136727215379),
 (452, 0.0),
 (451, 0.05039526306789696),
 (450, 0.0),
 (449, 0.029424494316824985),
 (448, 0.0),
 (447, 0.023904572186687872),
 (446, 0.05096471914376255),
 (445, 0.0),
 (444, 0.06965451903188581),
 (443, 0.0),
 (442, 0.04829452884162951),
 (441, 0.0),
 (440, 0.0),
 (439, 0.029880715233359837),
 (438, 0.0),
 (437, 0.10826639239215334),
 (436, 0.0),
 (435, 0.03450327796711771),
 (434, 0.0),
 (433, 0.09258200997725513),
 (432, 0.047809144373375745),
 (431, 0.0),
 (430, 0.0),
 (429, 0.0),
 (428, 0.018666334823663932),
 (427, 0.02817180849095055),
 (426, 0.03688555567816587),
 (425, 0.09116846116771035),
 (424, 0.039567129412446535),
 (423, 0.0),
 (422, 0.035245368842512066),
 (421, 0.04829452884162951),
 (420, 0.04688072309384954),
 (419, 0.07319250547113999),
 (418, 0.10811249552346706),
 (417, 0.0),
 (416, 0.0),
 (415, 0.017251638983558856),
 (414, 0.03194382824999699),
 (413, 0.02519763153394848),
 (412, 0.048795003647426664),
 (411, 0.052164053095730106),
 (410, 0.02219483808092376),
 (409, 0.0),
 (408, 0.036037498507822355),
 (407, 0.0),
 (406, 0.0),
 (405, 0.060717674071891624),
 (404, 0.0),
 (403, 0.08518354199999197),
 (402, 0.07396705090823068),
 (401, 0.0),
 (400, 0.081199794294115),
 (399, 0.024147264420814756),
 (398, 0.023904572186687872),
 (397, 0.0),
 (396, 0.045584230583855176),
 (395, 0.0),
 (394, 0.07644707871564382),
 (393, 0.0),
 (392, 0.09107651110783743),
 (391, 0.0),
 (390, 0.0),
 (389, 0.06388765649999398),
 (388, 0.02672612419124244),
 (387, 0.02519763153394848),
 (386, 0.06658451424277127),
 (385, 0.0),
 (384, 0.06277648205743444),
 (383, 0.04600437062282361),
 (382, 0.0),
 (381, 0.04364357804719847),
 (380, 0.0),
 (379, 0.033149677206589796),
 (378, 0.0),
 (377, 0.04517539514526256),
 (376, 0.04600437062282361),
 (375, 0.0),
 (374, 0.037332669647327864),
 (373, 0.0),
 (372, 0.12598815766974242),
 (371, 0.09035079029052512),
 (370, 0.10826639239215334),
 (369, 0.07171371656006362),
 (368, 0.028988551782622416),
 (367, 0.09416472308615166),
 (366, 0.02742042485535409),
 (365, 0.05096471914376255),
 (364, 0.0),
 (363, 0.022005942406783077),
 (362, 0.03138824102871722),
 (361, 0.027788500718836418),
 (360, 0.0),
 (359, 0.030860669992418377),
 (358, 0.029880715233359837),
 (357, 0.0),
 (356, 0.0857142857142857),
 (355, 0.05855400437691198),
 (354, 0.08322503785764788),
 (353, 0.020965696734438367),
 (352, 0.02742042485535409),
 (351, 0.02344036154692477),
 (350, 0.10826639239215334),
 (349, 0.0563436169819011),
 (348, 0.029424494316824985),
 (347, 0.0),
 (346, 0.02817180849095055),
 (345, 0.0447773662839645),
 (344, 0.029880715233359837),
 (343, 0.0),
 (342, 0.07466533929465573),
 (341, 0.02672612419124244),
 (340, 0.0515539262226467),
 (339, 0.08827348295047496),
 (338, 0.029424494316824985),
 (337, 0.02344036154692477),
 (336, 0.033149677206589796),
 (335, 0.026082026547865053),
 (334, 0.04931136727215379),
 (333, 0.027788500718836418),
 (332, 0.07733088933397005),
 (331, 0.02219483808092376),
 (330, 0.07559289460184544),
 (329, 0.10079052613579392),
 (328, 0.0),
 (327, 0.0),
 (326, 0.0),
 (325, 0.061721339984836754),
 (324, 0.023218173010628604),
 (323, 0.0),
 (322, 0.052164053095730106),
 (321, 0.0),
 (320, 0.030860669992418377),
 (319, 0.035245368842512066),
 (318, 0.0),
 (317, 0.0),
 (316, 0.021128856368212913),
 (315, 0.04829452884162951),
 (314, 0.09759000729485333),
 (313, 0.0),
 (312, 0.04931136727215379),
 (311, 0.025482359571881275),
 (310, 0.05148744788909767),
 (309, 0.03194382824999699),
 (308, 0.06761234037828133),
 (307, 0.04499718776364441),
 (306, 0.02817180849095055),
 (305, 0.040996003084539386),
 (304, 0.06761234037828133),
 (303, 0.0515539262226467),
 (302, 0.025482359571881275),
 (301, 0.03929887459459296),
 (300, 0.047809144373375745),
 (299, 0.03803491305644819),
 (298, 0.02577696311132335),
 (297, 0.04438967616184752),
 (296, 0.020348923188911988),
 (295, 0.028571428571428567),
 (294, 0.08964214570007951),
 (293, 0.029424494316824985),
 (292, 0.09258200997725513),
 (291, 0.07396705090823068),
 (290, 0.060717674071891624),
 (289, 0.018122009407318743),
 (288, 0.02577696311132335),
 (287, 0.027788500718836418),
 (286, 0.021128856368212913),
 (285, 0.05894831189188944),
 (284, 0.0),
 (283, 0.0563436169819011),
 (282, 0.14712247158412492),
 (281, 0.04931136727215379),
 (280, 0.048795003647426664),
 (279, 0.02344036154692477),
 (278, 0.047809144373375745),
 (277, 0.17684493567566834),
 (276, 0.03194382824999699),
 (275, 0.02817180849095055),
 (274, 0.02760262237369417),
 (273, 0.06388765649999398),
 (272, 0.0),
 (271, 0.052796367734845466),
 (270, 0.0703210846407743),
 (269, 0.03253000243161777),
 (268, 0.026082026547865053),
 (267, 0.1057361065275362),
 (266, 0.05413319619607667),
 (265, 0.0),
 (264, 0.0),
 (263, 0.1057361065275362),
 (262, 0.06776309271789384),
 (261, 0.05039526306789696),
 (260, 0.08827348295047496),
 (259, 0.059761430466719674),
 (258, 0.016190219204909314),
 (257, 0.027788500718836418),
 (256, 0.0994490316197694),
 (255, 0.026398183867422733),
 (254, 0.02366905341655754),
 (253, 0.060180814071377944),
 (252, 0.09824718648648241),
 (251, 0.0),
 (250, 0.0),
 (249, 0.09583148474999097),
 (248, 0.089554732567929),
 (247, 0.06761234037828133),
 (246, 0.02129588549999799),
 (245, 0.08696565534786725),
 (244, 0.029424494316824985),
 (243, 0.0447773662839645),
 (242, 0.055577001437672836),
 (241, 0.10826639239215334),
 (240, 0.04517539514526256),
 (239, 0.0),
 (238, 0.03852570642647097),
 (237, 0.0563436169819011),
 (236, 0.028988551782622416),
 (235, 0.02742042485535409),
 (234, 0.04259177099999598),
 (233, 0.06277648205743444),
 (232, 0.059761430466719674),
 (231, 0.02344036154692477),
 (230, 0.03505536546997459),
 (229, 0.05258304820496189),
 (228, 0.0703210846407743),
 (227, 0.14285714285714285),
 (226, 0.03138824102871722),
 (225, 0.026398183867422733),
 (224, 0.035634832254989916),
 (223, 0.0791945516022682),
 (222, 0.020498001542269693),
 (221, 0.02344036154692477),
 (220, 0.030358837035945812),
 (219, 0.09759000729485331),
 (218, 0.1267731382092775),
 (217, 0.020498001542269693),
 (216, 0.05484084971070818),
 (215, 0.06900655593423541),
 (214, 0.02742042485535409),
 (213, 0.06241877839323591),
 (212, 0.04259177099999598),
 (211, 0.0),
 (210, 0.10079052613579392),
 (209, 0.03450327796711771),
 (208, 0.07207499701564471),
 (207, 0.1031078524452934),
 (206, 0.03505536546997459),
 (205, 0.11952286093343936),
 (204, 0.04600437062282361),
 (203, 0.0515539262226467),
 (202, 0.05484084971070818),
 (201, 0.05484084971070818),
 (200, 0.06761234037828133),
 (199, 0.04364357804719847),
 (198, 0.057142857142857134),
 (197, 0.04688072309384954),
 (196, 0.02742042485535409),
 (195, 0.029424494316824985),
 (194, 0.0),
 (193, 0.037332669647327864),
 (192, 0.024147264420814756),
 (191, 0.02366905341655754),
 (190, 0.08717100546930082),
 (189, 0.03877833671647406),
 (188, 0.0982471864864824),
 (187, 0.1019294382875251),
 (186, 0.05855400437691198),
 (185, 0.028988551782622416),
 (184, 0.0),
 (183, 0.08717100546930082),
 (182, 0.07244179326244427),
 (181, 0.02129588549999799),
 (180, 0.11194341570991125),
 (179, 0.09583148474999097),
 (178, 0.02258769757263128),
 (177, 0.0),
 (176, 0.06277648205743444),
 (175, 0.04643634602125721),
 (174, 0.05039526306789696),
 (173, 0.023002185311411804),
 (172, 0.033806170189140665),
 (171, 0.026398183867422733),
 (170, 0.1595448070434931),
 (169, 0.06492654830247076),
 (168, 0.048795003647426664),
 (167, 0.061721339984836754),
 (166, 0.10968169942141635),
 (165, 0.04984447862792268),
 (164, 0.10559273546969093),
 (163, 0.0791945516022682),
 (162, 0.07377111135633174),
 (161, 0.0),
 (160, 0.07333587976225689),
 (159, 0.03138824102871722),
 (158, 0.06716604942594674),
 (157, 0.061721339984836754),
 (156, 0.020348923188911988),
 (155, 0.06388765649999398),
 (154, 0.030860669992418377),
 (153, 0.05976143046671968),
 (152, 0.08696565534786725),
 (151, 0.07207499701564471),
 (150, 0.0563436169819011),
 (149, 0.042257712736425826),
 (148, 0.033149677206589796),
 (147, 0.19999999999999998),
 (146, 0.0),
 (145, 0.019017456528224095),
 (144, 0.0515539262226467),
 (143, 0.04364357804719847),
 (142, 0.052796367734845466),
 (141, 0.035245368842512066),
 (140, 0.07100716024967263),
 (139, 0.10647942749998995),
 (138, 0.055577001437672836),
 (137, 0.0497245158098847),
 (136, 0.02366905341655754),
 (135, 0.0),
 (134, 0.15971914124998493),
 (133, 0.0),
 (132, 0.019262853213235485),
 (131, 0.0791945516022682),
 (130, 0.027788500718836418),
 (129, 0.08586775814821836),
 (128, 0.08017837257372731),
 (127, 0.07655590023509527),
 (126, 0.048795003647426664),
 (125, 0.04285714285714285),
 (124, 0.04161251892882394),
 (123, 0.06601782722034923),
 (122, 0.06277648205743444),
 (121, 0.081199794294115),
 (120, 0.024147264420814756),
 (119, 0.0703210846407743),
 (118, 0.0),
 (117, 0.0563436169819011),
 (116, 0.04931136727215379),
 (115, 0.025482359571881275),
 (114, 0.022792115291927588),
 (113, 0.024655683636076894),
 (112, 0.0563436169819011),
 (111, 0.052796367734845466),
 (110, 0.0),
 (109, 0.06761234037828133),
 (108, 0.1129384878631564),
 (107, 0.0432843655349805),
 (106, 0.022005942406783077),
 (105, 0.1301200097264711),
 (104, 0.05884898863364997),
 (103, 0.06149400462680908),
 (102, 0.042257712736425826),
 (101, 0.05345224838248488),
 (100, 0.0),
 (99, 0.04984447862792268),
 (98, 0.04931136727215379),
 (97, 0.0703210846407743),
 (96, 0.0563436169819011),
 (95, 0.022005942406783077),
 (94, 0.06277648205743444),
 (93, 0.02366905341655754),
 (92, 0.02129588549999799),
 (91, 0.05884898863364997),
 (90, 0.03138824102871722),
 (89, 0.014337009654653078),
 (88, 0.11595420713048966),
 (87, 0.02742042485535409),
 (86, 0.025482359571881275),
 (85, 0.050457594895144835),
 (84, 0.057416925176321444),
 (83, 0.07171371656006362),
 (82, 0.081199794294115),
 (81, 0.03283545516515592),
 (80, 0.03363839659676322),
 (79, 0.04733810683311508),
 (78, 0.07559289460184544),
 (77, 0.0),
 (76, 0.11952286093343936),
 (75, 0.05413319619607667),
 (74, 0.024397501823713332),
 (73, 0.0),
 (72, 0.08336550215650926),
 (71, 0.052796367734845466),
 (70, 0.05413319619607667),
 (69, 0.061721339984836754),
 (68, 0.060717674071891624),
 (67, 0.057142857142857134),
 (66, 0.024655683636076894),
 (65, 0.05976143046671968),
 (64, 0.0),
 (63, 0.040120542714251965),
 (62, 0.10141851056742199),
 (61, 0.07049073768502413),
 (60, 0.04931136727215379),
 (59, 0.03688555567816587),
 (58, 0.11501092655705902),
 (57, 0.0),
 (56, 0.0994490316197694),
 (55, 0.03450327796711771),
 (54, 0.033149677206589796),
 (53, 0.04364357804719847),
 (52, 0.0515539262226467),
 (51, 0.0751248226425348),
 (50, 0.11595420713048966),
 (49, 0.028571428571428567),
 (48, 0.022005942406783077),
 (47, 0.08322503785764788),
 (46, 0.11428571428571427),
 (45, 0.02219483808092376),
 (44, 0.03984095364447979),
 (43, 0.04733810683311508),
 (42, 0.0),
 (41, 0.04401188481356615),
 (40, 0.07824607964359516),
 (39, 0.052796367734845466),
 (38, 0.07859774918918593),
 (37, 0.027788500718836418),
 (36, 0.09862273454430757),
 (35, 0.08827348295047496),
 (34, 0.0),
 (33, 0.06629935441317959),
 (32, 0.04401188481356615),
 (31, 0.0563436169819011),
 (30, 0.07100716024967263),
 (29, 0.33008913610174606),
 (28, 0.0791945516022682),
 (27, 0.04259177099999598),
 (26, 0.0791945516022682),
 (25, 0.0),
 (24, 0.05797710356524483),
 (23, 0.12143534814378325),
 (22, 0.029424494316824985),
 (21, 0.060717674071891624),
 (20, 0.036037498507822355),
 (19, 0.039567129412446535),
 (18, 0.04293387907410918),
 (17, 0.11952286093343936),
 (16, 0.0515539262226467),
 (15, 0.040996003084539386),
 (14, 0.0563436169819011),
 (13, 0.04193139346887673),
 (12, 0.05884898863364997),
 (11, 0.3275692099413303),
 (10, 0.08336550215650926),
 (9, 0.04829452884162951),
 (8, 0.057142857142857134),
 (7, 0.13930903806377162),
 (6, 0.01889822365046136),
 (5, 0.06837634587578276),
 (4, 0.06900655593423541),
 (3, 0.03710709253896555),
 (2, 1.0),
 (1, 0.05884898863364997),
 (0, 0.052164053095730106)]

In [58]:
movie.iloc[25].title

'Titanic'

In [47]:
import pickle

In [62]:
pickle.dump(movie,open('movies.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))